.profile1{
    width: 250px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px dodgerblue;
    border-radius: 10px;
    padding: 10px;
}

.profiles{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header{
    text-align: center;
    font-family: cursive;
    font-size: 4rem;
    text-shadow: 0px 0px 5px purple;
color: crimson;
    margin-top: -15px;
}
@media (min-width:320px) and (max-width:480px){
    .header{
        font-size: 2rem;
    }
    .profiles{
        flex-direction: column;
    }
}
img{
    width: 100%;
    max-width: 300px;
    display: block;
    margin: auto;
    padding: 30px;
    margin-bottom: 10px;
    margin-top: -50px;
}