.profile{
    width: 300px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 4px 4px 6px #464646,-4px -4px 6px #4b9cb3 ;
    border-radius:20px;
    text-align: center;
    padding: 10px;

}
.profile.profile pic{
    width: 70%;
    height: 70%;
    border-radius: 50%;

}